{% extends 'base.html' %}
{% load static %}

<head>
    {% block title %}
        Lista Clientes
    {% endblock%}

</head>
<body>

 
        
    
    {% block content %}
        <form action="" method="POST">
            {% csrf_token %}

            {{ form.as_p }}
            <!-- <div class="nome">
                <label for="">Nome: </label>
                <input type="text" name="nome" id="">
            </div>
            
            <div class="celular">
                <label for="">Celular: </label>
                <input type="tel" name="tel" id="tel">
            </div>

            <div class="email">
                <label for="">E-mail: </label>
                <input type="email" name="email" id="email">
            </div>

            <div class="cpf">
                <label for="">CPF: </label>
                <input type="number" name="cpf" id="cpf">
            </div>

            <div class="estado_civil">
                <label for="">Estado Civil: </label>
                <select name="estado_civil" id="">
                    <option value="solteiro">Solteiro</option>
                    <option value="casado">Casado</option>
                    <option value="divorciado">Divorciado</option>
                    <option value="viuvo">Viuvo</option>
                </select>
            </div>

            <div class="genero">
                <label for="">Genero: </label>
                <select name="genero_select" id="">
                    <option value="masculino">Masculino</option>
                    <option value="feminino">Feminino</option>
                    <option value="outros">Outros</option>
                </select>
            </div>

            <div class="endereco">
                <label for="">Endereço Residencial: </label>
                <input type="text" name="rua" id="" placeholder="Rua">
                <input type="text" name="complemento" id="" placeholder="Complemento">
                <input type="text" name="cidade" id="" placeholder="cidade">
                <input type="text" name="estado" id="" placeholder="estado">
                <input type="text" name="cep" id="" placeholder="cep">
            </div> -->


            <button type="submit" class="save btn btn-default">Save</button>
        </form>



    {% endblock%}






</body>
</html>