{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/estilo.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container-login">
        <div class="login">
            <form action="" method="post">
                {% csrf_token %}
                <input type="text" name="user" id="user" placeholder="Username">

                <input type="password" name="password" id="password" placeholder="Password">

                <button>LOGIN</button>
            </form>
           
        </div>
        <div>
            <a href="{% url 'cadastro_user' %}">criar usuario</a>
        </div>
        
    </div>
</body>
</html>